#root, .App {
  min-height: 100% !important;
  font-family: "Source Sans Pro";
}

.main {
  padding: 20px;
}

.App-logo {
  margin-left: 20%;
  margin-top: 50px;
  height: 220px;
}

.App-header {
  background-color: #80a1b6;
  height: 20px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.filedrop:hover {
  background-color: rgba(210, 210, 210, 0.2);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.filedrop {
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
